<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--在Android13 以上，当usesPermissionFlags设置为neverForLocation时，无需再申请ACCESS_FINE_LOCATION权限-->
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            tools:ignore="ExportedContentProvider" />
    </queries>

    <application
        android:name=".base.ExampleApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@drawable/icon_android"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_android"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleDemo"
        tools:ignore="LockedOrientationActivity">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="channel_value"
            android:value="${channel_value}" />

        <!--自定义启动页-->
        <!--<activity
            android:name=".tripartite.admob.AppOpenAdActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />-->

        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customview.CustomChartViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".customview.CustomShadowViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.resultapi.ResultApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.camerax.CameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tripartite.login.TripartiteLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.sharesheet.SystemShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.tripartite.share.TripartiteShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.tripartite.share.FacebookShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.fragmentresultapi.FragmentResultApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".web.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.fullscreen.FullScreenExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.fullscreen.FullScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.fullscreen.ImmersionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.gesturedetector.BaseGestureDetectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.gesturedetector.GestureDetectorAActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.gesturedetector.GestureDetectorBActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.backpress.BackPressApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.biometrics.BiometricActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.downloadablefont.DownloadableFontActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.gps.GpsSignalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.androidapi.toolbar.ToolbarActivity"
            android:parentActivityName="com.chenyihong.exampledemo.home.HomeActivity"
            android:screenOrientation="portrait">

            <!--适配 Android 4.0及以下的设备-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chenyihong.exampledemo.home.HomeActivity" />
        </activity>

        <activity
            android:name=".androidapi.search.SearchExampleActivity"
            android:screenOrientation="portrait">

            <!--为当前页面指定搜索页面-->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".androidapi.search.SearchActivity" />
        </activity>

        <activity
            android:name=".androidapi.search.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="com.chenyihong.exampledemo.androidapi.search.SearchExampleActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chenyihong.exampledemo.androidapi.search.SearchExampleActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".androidapi.shortcuts.ShortcutsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.shortcuts.CreateCameraShortcutActivity"
            android:exported="true"
            android:icon="@drawable/icon_camera"
            android:label="@string/label_camera"
            android:theme="@style/DialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".androidapi.shortcuts.CreateLocationShortcutActivity"
            android:exported="true"
            android:icon="@drawable/icon_location"
            android:label="@string/label_location"
            android:theme="@style/DialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".androidapi.trafficstats.TrafficStatsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.gaid.GaIdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.autohide.AutoEdgeHideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.animation.AnimatorSetExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tripartite.admob.AdmobExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.motionlayout.MotionLayoutExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.flavor.FlavorExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".web.customtab.CustomTabExampleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.ipandua.IPAndUAExample"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.wifi.WIFIExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.timechange.TimeChangeExample"
            android:screenOrientation="portrait" />

        <activity
            android:name=".androidapi.bluetooth.BluetoothExampleActivity"
            android:screenOrientation="portrait" />

        <!--autofill-->

        <activity
            android:name=".androidapi.autofill.AutoFillExampleActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".androidapi.autofill.ExampleAutofillServices"
            android:exported="true"
            android:label="Example Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
        <!--autofill-->

        <!--Meta-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider692740238633583"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <!--Meta-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />

        </provider>

        <!--android:authorities的值与RecentSearchProvider中的AUTHORITY一致-->
        <provider
            android:name=".androidapi.search.RecentSearchProvider"
            android:authorities="com.chenyihong.exampledemo.androidapi.search.RecentSearchProvider"
            android:exported="false" />

        <!--FCM-->

        <!--修改默认图标-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />

        <!--修改默认颜色-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_blue_0083ff" />

        <service
            android:name=".tripartite.fcm.ExampleFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--FCM-->
    </application>
</manifest>