<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chenyihong.exampledemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            tools:ignore="ExportedContentProvider" />
    </queries>

    <application
        android:name=".ExampleApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleDemo"
        tools:ignore="LockedOrientationActivity">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

        <activity
            android:name=".customview.CustomViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resultapi.ResultApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".camerax.CameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tripartitelogin.TripartiteLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".share.systemshare.SystemShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.share.ShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.share.tripartiteshare.FacebookShareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fragmentresultapi.FragmentResultApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".web.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fullscreen.FullScreenExampleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fullscreen.FullScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fullscreen.ImmersionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gesturedetector.BaseGestureDetectorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gesturedetector.GestureDetectorAActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gesturedetector.GestureDetectorBActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".backpress.BackPressApiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biometrics.BiometricActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".downloadablefont.DownloadableFontActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gps.GpsSignalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chenyihong.exampledemo.toolbar.ToolbarActivity"
            android:parentActivityName="com.chenyihong.exampledemo.home.HomeActivity"
            android:screenOrientation="portrait">

            <!--适配 Android 4.0及以下的设备-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chenyihong.exampledemo.home.HomeActivity" />
        </activity>

        <activity
            android:name=".search.SearchExampleActivity"
            android:screenOrientation="portrait">

            <!--为当前页面指定搜索页面-->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchActivity" />
        </activity>

        <activity
            android:name=".search.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName="com.chenyihong.exampledemo.search.SearchExampleActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chenyihong.exampledemo.search.SearchExampleActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <!--Meta-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider692740238633583"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <!--Meta-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />

        </provider>

        <provider
            android:name=".search.RecentSearchProvider"
            android:authorities="com.chenyihong.exampledemo.search.RecentSearchProvider"
            android:exported="false" />
    </application>
</manifest>